.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leftHeader{
background-color: aqua;
display: flex;
flex-direction: row;

}

.rightHeader{
background-color: yellow;
display: flex;
flex-direction: row;

}

li {
    
}